.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
    background-color: #f0f0f0;
}

.navbar {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 30px 40px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vh;
}


img {
    max-width: 100%;
    max-height: 100%;
}